body {
    margin: 0;
    padding-bottom: 0;
    background-color: rgb(34, 3, 3);
    /* background-image: green; */
}

#header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    margin-top: 11vh;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5px;
}

#header > img {
    width: 100px;
}

header {
    font-size: xx-large;
    color: whitesmoke;
    text-align: center;
}

main {
    background-color: rgba(28, 28, 102, 0.8);
    box-shadow: 80px 40px 40px black;
    margin-top: 10px;
    bottom: 0;
    width: 60vw;
    height: 100%;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid white;
    font-family: Arial, Helvetica, sans-serif;
    animation-name: slideFade;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes slideFade {
    0% {
        position: relative;
        opacity: 0;
        width: 0;
    }
    99% {
        opacity: 1;
        width: 60vw;
    }
}

#menu {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    
}

#menu > h1, #menu-side > h1 {
    color: white;
}

a {
    text-decoration: none;
    color: rgb(231, 62, 62);
}

#menu > h1 > a:hover, #menu-side > h1 > a:hover {
    color: whitesmoke;
    cursor: pointer;
}

#menu, #menu-side {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    background-color: rgb(18, 18, 58);
    font-family: sans-serif;
}

#menu-side {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

main > h1, .card > h2 {
    color: white;
    margin-left: 20px;
    padding-top: 40px;
}

.blog-title {
    text-decoration: underline;
}

.card {
    color: white;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 3px;
}

.card > p, .card > ul, .card > ol {
    font-family: serif;
    font-size: larger;
}

.card > img {
    width: 20vw;
}

.blog-date {
    font-family: monospace;
    text-decoration: none;
}

li {
    margin-bottom: 10px;
}

@media (max-width: 500px) {
    main {
        width: 80%;
        animation-name: unset;
    }

    #menu {
        height: 5vh;
        align-content: center;
    }

    #menu > h1 {
        margin-top: auto;
        margin-bottom: auto;
        font-size: small;
    }

    .card > h2 {
        margin-left: 0;
    }

    .card > img {
        width: 80%;
    }
}
